.main{

    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.icone{
    text-align: center;

}
.fa-solid {

    font-size: 100px;
    color: blue;
}
.changes{
    margin-top: 50px;
}

.name{
    margin-top: 100px;
}
